<h1>管理者側の商品一覧</h1>
<h4>商品一覧</h4>
<%= link_to new_admin_item_path do %>
  <i class="fa-solid fa-circle-plus"></i>
<% end %>
</br>
商品ID
商品名
税抜価格
ジャンル
ステータス</br>
<% @items.each do |item| %>
  <%= item.id %>
  <%= link_to item.name, admin_item_path(item) %>
  <%= item.price.to_s(:delimited) %>
  <%= item.genre.name %>
  <% if item.is_active %>
    販売中
  <% else %>
    販売停止中
  <% end %></br>
<% end %>
<%= paginate @items %>