<h1>商品新規登録</h1>

<%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
  商品画像
  <%= f.file_field :image, accept: 'image/*' %></br>
  商品名
  <%= f.text_field :name %></br>
  商品説明
  <%= f.text_area :introduction %></br>
  ジャンル選択
  
  税抜価格
  
  販売ステータス
  
  <%= f.submit '新規登録' %>
<% end %>