<div class='container'>
  <div class='row'>
      <% flash.each do |message_type, message| %>
　　    <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <div class='row'>
      <%= render 'public/items/genre', genres: @genres %>
    </div>
    <div class='col'>
      <div class="top-page-image">
        <%= image_tag 'no_image.jpg', size: '800x400' %>
        <p>ようこそ、ながのCAKEへ！</br>
        このサイトは、ケーキ販売のECサイトになります。</br>
        会員でない方も商品の閲覧はできますが、</br>
        購入には会員登録が必要になります。</p>
      </div>
      <h3>新規商品</h3>
      <% @items.first(4).each do |item| %>
        <%= link_to item_path(item.id) do %>
          <%= image_tag item.get_image(400,300) %>
        <% end %>
        <!--商品名-->
        <%= item.name %>
        <!--商品税込価格-->
        <%= item.price.to_s(:delimited) %>
      <% end %></br>
      <%= link_to items_path do %>
        全ての商品を見る ＞
      <% end %>
    </div>
  </div>
</div>