<div class="container mt-3">
  <h4>注文履歴詳細</h4>
  <div class="row">
    <div class="col-8">
      <%= form_with model: @order, url: admin_order_path, method: :PATCH, local: true do |f| %>
      <table style="border:none;", class="table table-borderless">
        <tr>
          <th>購入者</th>
          <td><%= @order.customer.full_name %></td>
        </tr>
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>〒<%= @order.postal_code %><%= @order.address %><br>
          <%= @order.name %></td>
        </tr>
        <tr>
          <th>支払い方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <th>注文ステータス</th>
          <td>
          <%= f.select :status, Order.statuses_i18n.invert %>
          <%= f.submit "更新", class: "btn btn-outline-success" %>
          </td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <table class="table">
        <thead>
          <tr>
            <th class="table-light" style="width: 35%">商品名</th>
            <th class="table-light" style="width: 17%">単価（税込）</th>
            <th class="table-light" style="width: 10%">数量</th>
            <th class="table-light" style="width: 13%">小計</th>
            <th class="table-light">製作ステータス</th>
          </tr>
        </thead>
        <tbody>
        <% @order.order_histories.each do |order_history| %>
          <tr>
            <td class="align-middle"><%= order_history.item.name %></td>
            <td class="align-middle"><%= ((order_history.item.price * 1.1).round(2)).ceil.to_s(:delimited) %>円</td>
            <td class="align-middle"><%= order_history.amount %>個</td>
            <td class="align-middle"><%= ((order_history.price * 1.1 * order_history.amount).round(2)).ceil.to_s(:delimited) %>円</td>
            <td class="align-middle">
      　     <%= form_with model: order_history, url: admin_order_order_history_path(@order.id, order_history.id), method: :PATCH, local: true do |f| %>
              <%= f.select :making_status, OrderHistory.making_statuses_i18n.invert %>
              <%= f.submit "更新", class: "btn btn-outline-success" %>
            <% end %>
      　     </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    
    <div class="col-3 d-flex align-items-end">
      <table style="border:none;" class="ml-4">
        <tr style="border:none;">
          <th style="border:none;">商品合計</th>
          <td style="border:none;"><%= @order.total_payment.round(2).ceil.to_s(:delimited) %>円</td>
        </tr>
        <tr style="border:none;">
          <th style="border:none;">送料</th>
          <td style="border:none;"><%= 800 %>円</td>
        </tr>
        <tr style="border:none;">
          <th style="border:none;">請求合計金額</th>
          <td style="border:none;"><%= (800 + @order.total_payment).round(2).ceil.to_s(:delimited) %>円</td>
        </tr>
      </table>
    </div>
  </div>
</div>
