<div class='container px-5 px-sm-0'>
 <div class='row'>
  <!--左-->
  <div class='col-md-6'>
  <h4>配送先登録/一覧</h4>
  <br>
  <br>

  <div class="form-group">
  <%= form_with model: @address, url: addresses_path, local:true, method: :post  do |f| %>

    <p>郵便番号</p>
    <%= f.text_field :delivery_post_code, class: 'form-control address_delivery_post_code' %>
    <p>住所</p>
    <%= f.text_field :delivery_address, class: 'form-control address_delivery_address' %>
　　<p>宛名</p>
    <%= f.text_field :delivery_address_name, class: 'form-control address_delivery_address_name' %>
    <br>
    <%= f.submit "新規登録",class: "btn btn-success" %>

　<% end %>
  <br>
  <br>

  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th colspan="5"></th>
      </tr>
    </thead>
    <tbody>

    <% @addresses.each do |address| %>
    <tr>
      <td><%= address.delivery_post_code %></td>
      <td><%= address.delivery_address %></td>
      <td><%= address.delivery_address_name %></td>
      <td><%= link_to '編集',edit_address_path(address.id), class: "btn btn-sm btn-success" %></td>
      <td><%= link_to '削除',address_path(address.id), method: :delete,class: "btn btn-sm btn-danger" %></td>
    </tr>
    <% end %>

    </tbody>
  </table>
  </div>
  </div>
  <!--右（空白）-->
  <div class='col-md-5 offset-md-1'>
  </div>
 </div>
</div>