<div class='container px-5 px-sm-0'>

<div class='row'>
  <div class='col-md-5'>
  <h4>ショッピングカート</h4>
  </div>
  <div class='col-3 offset-4'>
  <%= link_to '全削除',destroy_all_cart_items_path, method: :delete, class: "btn btn-sm btn-danger" %>
  </div>
</div>

<div class='row'>
<div class='col-md-10'>
    <table class='table'>
    <thead>
      <tr>
        <th>商品名</th>
        <th></th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
        <th colspan="5"></th>
      </tr>
    </thead>
    <tbody>
      <% total = 0 %>
      <% if current_customer.cart_items.present? %>
      <% @cart_items.each do |cart_item| %>
      <tr>
        <td><%= image_tag cart_item.item.image, size: "180x135" %></td>
        <td><%= cart_item.item.name %></td>
        <td align="center"><%= cart_item.item.with_tax_price%>円</td>
        <td>
          <%= form_with model: cart_item, url: cart_item_path(cart_item.id), method: :patch do |f| %>

          <% if cart_item.amount <= 10 %>
            <%= f.select :amount,options_for_select(*[1..10],selected: cart_item.amount),size:3 %>
          <% else %>
            <%= f.text_field:amount, size:3 %>
          <% end %>

          <%= f.hidden_field :customer_id, :value => current_customer.id %>
          <%= f.hidden_field :item_id, :value => cart_item.item.id %>
          <%= f.submit "編集", class: "btn btn-success btn-sm" %>
          <% end %>
        </td>
        <td><%= ((cart_item.subtotal).round(2)).ceil.to_s(:delimited)%>円</td>
        <td><%= link_to '削除',cart_item_path(cart_item.id),method: :delete,class: "btn btn-sm btn-danger" %></td>
        <td><% total += cart_item.subtotal %></td>
      </tr>
      <% end %>
      <% end %>
      </div>
    </tbody>
    </table>
</div>
<div class='col-md-2'>
</div>
</div>

<div class='row'>

  <div class='col-md-2'>
    <%= link_to '買い物に戻る',root_path, method: :get, class: "btn btn-sm btn-primary" %>
  </div>
  <div class='col-4 offset-6'>
    <h4>合計金額:<%= total %>円</h4>
  </div>
</div>

<br>
<br>

<div class='row justify-content-center'>
  <%= link_to '情報入力に進む',orders_new_path, method: :get, class: "btn btn-sm btn-success" %>
</div>

</div>