<div class='container mt-5'>
  <div class='row'>
    <div class='col-md-2'>
      <%= render 'public/items/genre', genres: @genres %>
    </div>
    <div class='col-10'>
      <h1>検索結果一覧</h1>
      <div class="item-warp">
        <% @items.each do |item| %>
        <div class="warp">
          <%= link_to item_path(item.id) do %>
            <%= image_tag item.get_image(200,200) %></br>
          <% end %>
          <% if item.is_active %>
            <p>販売中</p>
          <% else %>
            <p>売切れ</p>
          <% end %>
          <div class="sidb"><%= item.name %></div></br>
          <div class="sidb">¥<%= item.price.to_s(:delimited) %></div></br>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <%= paginate @item_page %>
  </div>
</div>

