
<h2>注文情報確認</h2>
<table>
  <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
  </tr>
  <% @cart_items.each do |cart| %>
  <tr>
    <td><画像挿入><%= cart.item.name %></td>
    <td><%= ((cart.item.with_tax_price).round(2)).ceil.to_s(:delimited) %></td>
    <td><%= cart.amount %></td>
    <td><%= ((cart.subtotal).round(2)).ceil.to_s(:delimited) %></td>
    <% @goke += cart.subtotal %>
  </tr>
  <% end %>
</table>

<table>
  <tr>
    <th>送料</th>
    <td><%= 800 %>円</td>
  </tr>
  <tr>
    <th>商品合計</th>
    <td><%= @goke %>円</td>
  </tr>
  <tr>
    <th>請求金額</th>
    <td><%= 800 + @goke %>円</td>
  </tr>

</table>

<table style: "border:none;">
  <tr style: "border:none;">
    <th style: "border:none;">支払い方法</th>
    <td style: "border:none;"><%= @order.payment_method_i18n %></td>
  </tr>
  <tr style: "border:none;">
    <th style: "border:none;">お届け先</th>
    <td style: "border:none;">〒<%= @order.postal_code %>
    <%= @order.address %><br>
    </td>
  </tr>
</table>

  <%= form_with model: @order, url: orders_path, local: true do |f| %>
  <%= f.hidden_field :customer_id,:value => current_customer.id %>
  <%= f.hidden_field :payment_method, :value => @order.payment_method %>
  <%= f.hidden_field :shipping_cost,:value => 800 %>
  <%= f.hidden_field :total_payment,:value => @goke %>
  <%= f.hidden_field :address,:value => @order.address %>
  <%= f.hidden_field :postal_code,:value => @order.postal_code %>
  <%= f.hidden_field :name,:value => @order.name %>
    <%= f.submit "注文を確定する", class:"btn btn-sm btn-success" %>
  <% end %>
