<div class="container">
  <div class="row justify-content-center">
    <div class="col-11">
      <h4 class="col-5 mt-2">注文履歴一覧</h4>
        <table class="table table-bordered mt-3">
          <thead>
          <tr>
            <th class="table-light" style="width: 12%">注文日</th>
            <th class="table-light">配送先</th>
            <th class="table-light" style="width: 13%">注文商品</th>
            <th class="table-light" style="width: 10.5%">支払い金額</th>
            <th class="table-light" style="width: 10.5%">ステータス</th>
            <th class="table-light" style="width: 10%">注文詳細</th>
          </tr>
          </thead>
          <% @orders.each do |order| %>
          <tbody>
            <tr>
              <td class="align-middle"><%= order.created_at.strftime("%Y-%m-%d") %></td>
              <td class="align-middle">〒<%= order.postal_code %><%= order.address %><br>
              <%= order.name %></td>
              <td class="align-middle"><% order.order_histories.each do |order_history| %>
                <%= order_history.item.name %><br>
              <% end %>
              </td>
              <td class="align-middle"><%= (order.total_payment + 800).to_s(:delimited) %>円</td>
              <td class="align-middle"><%= order.status_i18n %></td>
              <td class="align-middle"><%= link_to "表示する", order_path(order.id), class:"btn btn-sm btn-info"  %></td>
            </tr>
          </tbody>
          <% end %>
        </table>
        
        <div class="row justify-content-center">
        <%= paginate @orders %>
        </div>
    </div>
  </div>
</div>