<h1>注文履歴詳細画面</h1>

<h3>注文履歴詳細</h3>
<table style: "border:none;">
  <tr style: "border:none;">
    <th style: "border:none;">注文情報</th>
  </tr>
  <tr>
    <td>注文日</td>
    <td><%= @order.created_at %></td>
  </tr>
  <tr>
    <td>配送先</td>
    <td><%= @order.address %></td>
  </tr>
  <tr>
    <td>支払い方法</td>
    <td><%= @order.payment_method %></td>
  </tr>
</table>

<table table style: "border:none;">
  <tr style: "border:none;">
    <th style: "border:none;">請求情報</th>
  </tr>
  <tr>
    <th>商品合計</th>
    <td><%= @order.total_payment %></td>
  </tr>
  <tr>
    <th>配送料</th>
    <td><%= 800 %></td>
  </tr>
  <tr>
    <th>ご請求額</th>
    <td><%= @order.total_payment + 800 %></td>
  </tr>
</table>

<table table style: "border:none;">
  <tr style: "border:none;">
    <th style: "border:none;">注文内容</th>
  </tr>
  <tr>
    <th>商品</th>
    <th>単価（税込）</th>
    <th>個数</th>
    <th>小計</th>
  </tr>
  <% @order.order_histories.each do |order_history| %>
  <tr>
    <td><%= order_history.item.name %></td>
    <td><%= order_history.price*1.1 %></td>
    <td><%= order_history.amount %></td>
    <td><%= order_history.price * 1.1 * order_history.amount %></td>
  </tr>
  <% end %>
</table>