<div class='container'>
  <div class='row'>
    <div class='col'>
      <%= render 'genre', genres: @genres %>
    </div>
    <div class='col'>
    <h1>商品一覧</h1>
    全<%= @items.count %>件</br>
    <% @items.each do |item| %>
      <%= link_to item_path(item.id) do %>
        <%= image_tag item.get_image(400,300) %>
      <% end %>
      <% if item.is_active %>
        販売中
      <% else %>
        売切れ
      <% end %>
    <!--商品名-->
      <%= item.name %>
    <!--価格-->
      ¥<%= item.price.to_s(:delimited) %>
    <% end %>
    </div>
  </div>
</div>
<%= paginate @items %>