<h1>商品一覧</h1>
全<%= @items.count %>件</br>
<% @items.each do |item| %>
  <%= link_to item_path(item.id) do %>
    <%= image_tag item.image, size: "200x150" %>
  <% end %>
<!--商品名-->
  <%= item.name %>
<!--価格-->
  ¥<%= item.price.to_s(:delimited) %>
<% end %>